googleauth_include4/src/main/mule/googleauth_include4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:crypto="http://www.mulesoft.org/schema/mule/crypto"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/crypto http://www.mulesoft.org/schema/mule/crypto/current/mule-crypto.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
  <http:request-config name="googleAPIs"
                        doc:name="HTTP Request configuration"
                        doc:id="5a367172-6ef3-4fff-b107-0028bac816fb">
      <http:request-connection protocol="HTTPS"
                               host="www.googleapis.com"
                               port="443"
                               maxConnections="10"/>
   </http:request-config>
	<crypto:jce-config name="Crypto_Jce" doc:name="Crypto Jce" doc:id="5da1e699-4f82-46a9-aa80-f4e4ff4998d9" keystore="/Users/paul.anderson/projects/MI/dev2/my.jceks" password="notasecret" type="JCEKS">
		<crypto:jce-key-infos>
			<crypto:jce-symmetric-key-info keyId="privatekey" alias="privatekey" password="notasecret" />
		</crypto:jce-key-infos>
	</crypto:jce-config>
	<flow name="googleauth_include4Flow" doc:id="6b6adad6-f359-48a8-a9f9-05cd636f2bbe" >
		<scheduler doc:name="Scheduler" doc:id="9174f028-be6e-40d9-a40b-e38696b87925" >
			<scheduling-strategy >
				<fixed-frequency frequency="100000"/>
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="Flow Reference" doc:id="286836b9-ad8d-4fd0-bdbf-19fa5a86ab83" name="googleauth_getAccessToken"/>
	</flow>
	<sub-flow name="googleauth_getAccessToken" doc:id="5f1c580a-9c2d-4afb-b3cb-7a6ff3684dbb">
		<set-variable value='{"alg":"RS256", "typ":"JWT"}' doc:name="JWT header" doc:id="c99a99fa-5c21-4003-8e0e-b997b5d06448" variableName="jwtHeader"/>
		<set-variable value="this is a claimset" doc:name="claimSet" doc:id="c8b1cce6-77e8-4e1a-9d76-62e12dca0ea0" variableName="claimSet"/>
		<ee:transform doc:name="Transform Message" doc:id="e6284330-e16a-4259-ba82-d68e9227cbaf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import module::globalfuncs
output application/json
---
{ 
	val: globalfuncs::encode(vars.jwtHeader)	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value="#[payload.val]" doc:name="Set Payload" doc:id="d40d0ac4-56f8-4824-8723-cca3a0886748" />
		<crypto:jce-sign doc:name="Jce sign" doc:id="d8b6f604-5176-44c3-9406-ec985b45bd9e" config-ref="Crypto_Jce" keyId="privatekey"/>
		<logger level="INFO" doc:name="Logger" doc:id="58712c3c-aa03-4abf-965c-15c4e979d6da" message="#[payload]"/>
	</sub-flow>
</mule>
